<div style="display: block">
  <h1>Customize your Starship!</h1>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>
<div *ngIf="loading">
  Loading...
</div>

<table class="table">
  <thead>
      <h1>Choose your characteristics!</h1>
    <tr>
      <th scope="col" class="title1">Name</th>
      <th scope="col" class="titles">Crew</th>
      <th scope="col" class="titles">Cost in credits</th>
      <th scope="col" class="titles">cargo capacity</th>
      <th scope="col" class="titles">Hyperdrive Rating</th>
      <th scope="col" class="titles">Length</th>
      <th scope="col" class="titles">Max atmospheric speed</th>
      <th scope="col" class="titles">Passengers</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let starship of starships">
      <th scope="row"> {{ starship.name }} </th>
      <th scope="row"> <button type="button" class="btn btn-light"[value]="starship.crew" (click)="list()">{{ starship.crew }} </button></th>
      <th scope="row"> <button type="button" class="btn btn-light"[value]="starship.costInCredits" (click)="list()">{{ starship.costInCredits }} </button></th>
      <th scope="row"> <button type="button" class="btn btn-light"[value]="starship.cargoCapacity" (click)="list()">{{ starship.cargoCapacity }} </button></th>
      <th scope="row"> <button type="button" class="btn btn-light"[value]="starship.hyperdriveRating" (click)="list()">{{ starship.hyperdriveRating }} </button></th>
      <th scope="row"> <button type="button" class="btn btn-light"[value]="starship.length" (click)="list()">{{ starship.length }} </button></th>
      <th scope="row"> <button type="button" class="btn btn-light"[value]="starship.maxAtmospheringSpeed" (click)="list()">{{ starship.maxAtmospheringSpeed }} </button></th>
      <th scope="row"> <button type="button" class="btn btn-light"[value]="starship.passengers" (click)="list()">{{ starship.passengers }} </button></th>
      <td></td>
    </tr>
  </tbody>
</table>
